.formContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20%;
	input {
		font-family: 'Truculenta', sans-serif;
		height: 30px;
		width: 80vw;
		max-width: 600px;
		border: 1px solid lightgrey;
		border-radius: 5px;
		font-size: 20px;
		text-transform: uppercase;
		background: none;
		text-align: center;
		color: white;
		transition: 0.4s ease;
		&:focus {
			background: lightgrey;
			color: black;
			border: none;
		}
	}
	.error {
		position: absolute;
        left: 50%;
		top: 90px;
        transform: translateX(-50%);
		font-size: 14px;
		color: red;
	}
}
